.container {
    width: 100%;
    margin-top: 50px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text__container {

    width: 100%;

}

.subject {
    margin: 20px;
}

@media (min-width: 1024px) {
    .subject {
        font-size: 45px;
        margin: 100px;
    }
    .text__container {

    }

}