.container {
    width: 100%;
    margin-top: 50px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-family: 'Roboto', sans-serif;
}

.text__container {

    width: 100%;

}

.subject {
    margin: 20px;
}
.img {
    width: 250px;
    height: 250px;

    align-self: flex-end;
}

.short__text {
    text-align: center;
    margin: 20px;
    font-size: 20px;
    font-weight: 700;
}

.img2 {
    width: 100%;
    margin-bottom: 50px;
    align-self: flex-end;
}

@media (min-width: 1024px) {
    .subject {
        font-size: 45px;
        margin: 100px;
    }
    .img, .img2 {
        width: 100%;
        height: 500px;
    }
    .short__text {
        margin-left: 80px;
        margin-right: 80px;
    }

}