.section__outer {
    width: 100%;
    margin: 40px 0 0 0;

    display: flex;
    flex-direction: column;
}

.text__style {
    margin: 30px;
    align-self: flex-start;

}

.img {
    width: 250px;
    height: 250px;
    background: black;

    align-self: flex-end;
}
.text__style2 {
    margin: 30px;
    align-self: flex-end;

}

.img2 {
    width: 250px;
    height: 250px;
    background: black;

    align-self: flex-start;
}

@media (min-width: 1024px) {
    .section__outer {
        flex-direction: row;
    }
    .section__outer--media {
        flex-direction: row-reverse;
    }
    .text__style, .text__style2 {
        align-self: center;
        font-size: 30px;
        margin-left: 100px;
    }
    .img2, .img {
        width: 400px;
        height: 400px;
    }
}